.footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
  border-top: 1px solid var(--borderLowEmphasis);
}

.list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.listItem {
  list-style: none;
  display: inline-flex;
}

.technologies {
  display: inline-block;
}

.technologies a {
  display: inline-flex;
}

.listItem svg path {
  fill: var(--iconDefault);
}