.footer {
  width: 100%;
  padding: 24px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  border-top: 1px solid var(--borderLowEmphasis);
}

@media (min-width: 896px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.listItem {
  list-style: none;
  display: inline-flex;
}

.technologies {
  display: inline-block;
  text-align: center;
}

@media (min-width: 896px) {
  .technologies {
    text-align: left;
  }
}

.technologies a {
  display: inline-flex;
}

.listItem svg path {
  fill: var(--iconDefault);
  transition: fill 100ms ease-in-out;
}

.listItem svg:hover path {
  fill: var(--iconHover);
}
