@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

:root {
  --textHighEmphasis: #181E25;
  --textMediumEmphasis: #323B48;
  --textLowEmphasis: #788BA5;
  --textOnColoredBackground: #FFFFFF;
  --textInfo: #117DF9;
  --iconDefault: #788BA5;
  --iconHover: #323B48;
  --iconOnColoredBackground: #FFFFFF;
  --backgroundSurface1: #FFFFFF;
  --backgroundSurface2: #F6F8FB;
  --backgroundComponentParent: #FFFFFF;--backgroundComponentChild: #F6F8FB;
  --backgroundComponentHighlight: #E7E4FB;
  --backgroundComponentInfo: #DBECFE;
  --backgroundComponentError: #FEE4E2;
  --backgroundComponentWarning: #FFF4E6;
  --borderLowEmphasis: #DEE4ED;
  --borderActive: #624DE3;
  --borderFocus: #E7E4FB;
  --shadowInputDefault: 0 1px 2px rgba(21, 29, 40, 0.02);
  --shadowInputHover: 0 2px 4px rgba(21, 29, 40, 0.04);
  --buttonPrimaryBackgroundDefault: #624DE3;
  --buttonPrimaryBackgroundHover: #4938C3;
  --buttonPrimaryBackgroundActive: #8A78EE;
  --buttonPrimaryBorderDefault: #4938C3;
  --buttonSecondaryBackgroundDefault: #FFFFFF;
  --buttonSecondaryBackgroundHover: #F6F8FB;
  --buttonSecondaryBackgroundActive: #FFFFFF;
  --buttonSecondaryBorderDefault: #DEE4ED;
  --specifyLogo: url("/images/specify-logo-light.svg");
  --specifyLogoFlower: url("/images/specify-logo-flower-light.svg");
  --openaiLogo: url("/images/openai-logo-light.svg");
  --vercelLogo: url("/images/vercel-logo-light.svg");
}

@media (prefers-color-scheme: dark) {
  :root {
    --textHighEmphasis: #FFFFFF;
    --textMediumEmphasis: #F4F5F5;
    --textLowEmphasis: #AEB2B7;
    --textOnColoredBackground: #FFFFFF;
    --textInfo: #60A8FA;
    --iconDefault: #787E87;
    --iconHover: #F4F5F5;
    --iconOnColoredBackground: #FFFFFF;
    --backgroundComponentParent: #27282B;
    --backgroundComponentChild: #313235;
    --backgroundComponentHighlight: #362A79;
    --backgroundComponentInfo: #293443;
    --backgroundComponentError: #3C2627;
    --backgroundComponentWarning: #413324;
    --backgroundSurface1: #27282B;
    --backgroundSurface2: #1F2023;
    --borderLowEmphasis: #44474B;
    --borderActive: #5443BC;
    --borderFocus: #362A79;
    --shadowInputDefault: 0 1px 2px rgba(0, 0, 0, 0.24);
    --shadowInputHover: 0 1px 2px rgba(0, 0, 0, 0.32);
    --buttonPrimaryBackgroundDefault: #624DE3;
    --buttonPrimaryBackgroundHover: #9A90DF;
    --buttonPrimaryBackgroundActive: #5443BC;
    --buttonPrimaryBorderDefault: #5443BC;
    --buttonSecondaryBackgroundDefault: #27282B;
    --buttonSecondaryBackgroundHover: #313235;
    --buttonSecondaryBackgroundActive: #1F2023;
    --buttonSecondaryBorderDefault: #44474B;
    --specifyLogo: url("/images/specify-logo-dark.svg");
    --specifyLogoFlower: url("/images/specify-logo-flower-dark.svg");
    --openaiLogo: url("/images/openai-logo-dark.svg");
    --vercelLogo: url("/images/vercel-logo-dark.svg");
  }
}

body {
  margin: 0 auto;
  padding: 0 24px;
  max-width: 1128px;

  font-family: 'Inter', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  background-color: var(--backgroundSurface1);
}

html::before {
  content: '';
  position: absolute;
  z-index: -5;
  top: 0;
  left: 0;
  width: 100vw;
  height: 512px;
  background-image: linear-gradient(0deg, var(--backgroundSurface1), var(--backgroundSurface2));
}

@media (min-width: 896px) {
  body {
    padding: 0 48px;
  }
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main.loading {
  cursor: wait;
}

.text-high-emphasis {
  color: var(--textHighEmphasis);
}

.text-medium-emphasis {
  color: var(--textMediumEmphasis);
}

.text-low-emphasis {
  color: var(--textLowEmphasis);
}

.text-info {
  color: var(--textInfo);
}

.text-disabled {
  opacity: 0.4;
}

.text-result {
  background-image: linear-gradient(0deg, var(--textHighEmphasis), var(--textMediumEmphasis));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.display-1 {
  font-size: 32px;
  line-height: 40px;
  min-height: 80px;
  display: block;
  font-weight: 800;
  letter-spacing: -1.4px;
}

@media (min-width: 414px) {
  .display-1 {
    font-size: calc(32px + 112 * ((100vw - 414px) / (896 - 414)));
    line-height: calc(40px + 104 * ((100vw - 414px) / (896 - 414)));
    min-height: calc(80px + 352 * ((100vw - 414px) / (896 - 414)));
  }
}

@media (min-width: 896px) {
  .display-1 {
    font-size: 144px;
    line-height: 144px;
    letter-spacing: -6px;
    min-height: calc(448px - 148 * ((100vw - 896px) / (1200 - 896)));
  }
}

@media (min-width: 1200px) {
  .display-1 {
    min-height: 300px;
  }
}

.heading-1 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 800;
  letter-spacing: -1.2px;
}

@media (min-width: 414px) {
  .heading-1 {
    font-size: calc(32px + 32 * ((100vw - 414px) / (896 - 414)));
    line-height: calc(40px + 40 * ((100vw - 414px) / (896 - 414)));
  }
}

@media (min-width: 896px) {
  .heading-1 {
    font-size: 64px;
    line-height: 80px;
  }
}

.body-emphasis {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

@media (min-width: 896px) {
  .body-emphasis {
    font-size: 20px;
    line-height: 32px;
  }
}

.body-1-s {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.body-2-l {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
}

.body-2-m {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}

.body-2-s {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.button {
  display: inline-flex;
  justify-content: center;
  font-size: 14px;
  line-height: 20px;
  border-radius: 6px;
  transition: background-color 100ms ease-out;
  cursor: pointer;
}

.button:focus {
  border: 1px solid var(--borderActive);
  outline: var(--borderFocus) solid 2px;
}

.button-large {
  padding: 10px 12px;
  font-weight: 600;
}

.button-medium {
  padding: 6px 12px;
  font-weight: 500;
}

.button svg {
  margin-left: 8px;
}

.button-primary {
  color: var(--textOnColoredBackground);
  background-color: var(--buttonPrimaryBackgroundDefault);
  border: 1px solid var(--buttonPrimaryBorderDefault);
}

.button-primary svg path {
  fill: var(--iconOnColoredBackground);
}

.button-primary:hover {
  background-color: var(--buttonPrimaryBackgroundHover);
}

.button-primary:active {
  background-color: var(--buttonPrimaryBackgroundActive);
}

.button-primary:disabled {
  cursor: wait;
}

.loading .button-primary svg path:first-child {
  animation: meteorSmall 800ms ease-in-out infinite;
  transform-origin: center;
}

.loading .button-primary svg path:last-child {
  animation: meteorBig 800ms ease-in-out infinite;
  transform-origin: center;
}

@keyframes meteorSmall {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes meteorBig {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}

.button-primary:disabled:hover {
  background-color: var(--buttonPrimaryBackgroundDefault);
}

.button-secondary {
  color: var(--textHighEmphasis);
  background-color: var(--buttonSecondaryBackgroundDefault);
  border: 1px solid var(--buttonSecondaryBorderDefault);
}

.button-secondary svg path {
  fill: var(--iconDefault);
}

.button-secondary:hover {
  background-color: var(--buttonSecondaryBackgroundHover);
}

.button-secondary:active {
  background-color: var(--buttonSecondaryBackgroundActive);
}