.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 1px solid var(--borderLowEmphasis);
}

@media (min-width: 896px) {
  .header {
    flex-direction: row;
    align-items: center;
  }
}

.title {
  padding: 16px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  gap: 6px;
  flex-grow: 1;
}

.menuTrigger {
  width: 20px;
  height: 20px;
}

@media (min-width: 896px) {
  .header:not(.menuExpanded) .menuTrigger {
    display: none;
  }
}

.menuTrigger svg path {
  fill: var(--iconDefault);
}

.author {
  display: none;
}

@media (min-width: 414px) {
  .author {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
  }
}

@media (min-width: 512px) {
  .title {
    flex-direction: row;
    text-align: center;
  }
}

@media (min-width: 896px) {
  .header:not(.menuExpanded) .title {
    border-bottom: none;
    justify-content: flex-start;
  }

  .header.menuExpanded .title {
    border-bottom: none;
  }
}

.logo {
  width: 84px;
  height: 24px;
  background-image: var(--specifyLogo);
  background-size: auto 24px;
  background-repeat: no-repeat;
  background-position: center;

  transform: translateY(1px);
}

.list {
  display: none;
  flex-direction: row;
  text-align: center;
  gap: 24px;
}

@media (min-width: 896px) {
  .list {
    display: flex;
  }
}

.listItem {
  list-style: none;
  flex-grow: 1;
}

.listItem a {
  display: inline-block;
  padding: 12px 0;
  width: 100%;
  transition: color 100ms ease-in-out;
}

/*@media (min-width: 896px) {
  .listItem a {
      padding: 24px 0;
    }
    }*/

.list:not(.menuExpanded):hover a:not(:hover) {
  color: var(--textLowEmphasis);
}

.actions {
  display: none;
}

.header.menuExpanded .menu {
  position: fixed;
  width: calc(100vw - 24px * 2);
  min-height: calc(100vh - 57px - 24px - 24px);
  top: 57px;
  left: 0;
  z-index: 99;
  background-color: var(--backgroundSurface2);
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header.menuExpanded .list {
  gap: 0px;
  display: flex;
  flex-direction: column;
}

.header.menuExpanded .listItem {
  flex-grow: 0;
  border-bottom: 1px solid var(--borderLowEmphasis);
}

.header.menuExpanded .listItem a {
  font-size: 32px;
  line-height: 40px;
  font-weight: 800;
  letter-spacing: -1px;
  text-align: left;
  padding: 24px 0;
}

.header.menuExpanded .actions {
  display: flex;
  flex-direction: column;
  gap: 16px;
}