.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
  border-bottom: 1px solid var(--borderLowEmphasis);
}

.title {
  display: flex;
  align-items: center;
  gap: 6px;
}

.title span {
  font-weight: 400;
}

.title img {
  transform: translateY(2px);
}

.logo {
  height: 24px
}

.list {
  display: flex;
  gap: 24px;
}

.listItem {
  list-style: none;
  display: inline-flex;
}