.header {
  height: 72px;
  overflow: hidden;
  z-index: 999;
}

.header.expanded {
  height: 100vh;
  background-color: var(--backgroundSurface1);
}

/* .header.expanded .menu {
  background-color: rgba(255, 0, 0, 0.2);
} */

.headerContainer {
  height: calc(100% - 1px);
  display: flex;
  flex-direction: column;
  margin: 0 24px;
  border-bottom: 1px solid var(--borderLowEmphasis);

  /* background-color: rgba(255, 0, 0, 0.2); */
}

@media (min-width: 896px) {
  .headerContainer {
    margin: 0 48px;
  }
}

.fixedPart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title {
  padding: 24px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  gap: 6px;
  flex-grow: 1;
}

.logo {
  display: none;
  width: 84px;
  height: 24px;
  background-image: var(--specifyLogo);
  background-size: auto 24px;
  background-repeat: no-repeat;
  background-position: center;

  transform: translateY(1px);
}

@media (min-width: 414px) {
  .logo {
    display: block;
  }
}

.links {
  display: none; 
}

.menuTrigger {
  display: auto;
}

@media (min-width: 896px) {
  .links {
    display: flex;
  }

  .menuTrigger {
    display: none;
  }
}

.list {
  display: flex;
  flex-direction: row;
  text-align: center;
  gap: 24px;
}

.listItem {
  list-style: none;
  flex-grow: 1;
}

.listItem a {
  display: inline-block;
  padding: 12px 0;
  width: 100%;
  transition: color 100ms ease-in-out;
}

.list:not(.header.expanded):hover a:not(:hover) {
  color: var(--textLowEmphasis);
}

.menuTrigger {
  width: 20px;
  height: 20px;
}

.menuTrigger svg path {
  fill: var(--iconDefault);
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 56px;
}

.menu .list {
  gap: 0px;
  display: flex;
  flex-direction: column;
  transform: translateY(24px);
}

.menu .listItem {
  flex-grow: 0;
  border-bottom: 1px solid var(--borderLowEmphasis);
}

.menu .listItem a {
  font-size: 32px;
  line-height: 40px;
  font-weight: 800;
  letter-spacing: -1.2px;
  text-align: left;
  padding: 24px 0;
}

/* Responsive font sizes */
/* @media (min-width: 414px) {
  .menu .listItem a {
    font-size: calc(32px + 32 * ((100vw - 414px) / (896 - 414)));
    line-height: calc(40px + 40 * ((100vw - 414px) / (896 - 414)));
  }
} */

.menu .actions {
  display: flex;
  flex-direction: column;
  gap: 16px;
}