.hero {
  margin: 96px 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.hero p+p {
  max-width: 648px;
}

.icon {
  display: inline-flex;
  margin: 0 12px;
  width: 64px;
  height: 64px;
  border-radius: 6px;
  border: 1px solid transparent;
  transform: translateY(8px);
}

.animation svg {
  position: absolute;
  width: 64px !important;
  height: 64px !important;
}

.icon.designSystem {
  background-color: var(--backgroundComponentHighlight);
}

.icon.name {
  background-color: var(--backgroundComponentWarning);
}

.icon.emotions {
  background-color: var(--backgroundComponentError);
}

.icon.brandCharacteristics {
  background-color: var(--backgroundComponentInfo);
}